<div class="main-card">
    <div class="card-wrapper">
      <div class="cards">
        <div class="profile-two">
          <div class="pi pi-envelope"></div> <!-- Changed Icon -->
          <div class="pi pi-dollar"></div> <!-- Changed Icon -->
        </div>
        <div class="profile-data">
          <span class="employee">Total</span>
          <span class="employee-name">{{totalRequests}}</span>
        </div>
      </div>
      <div class="cards">
        <div class="profile-three">
          <div class="pi pi-user"></div> <!-- Changed Icon -->
          <div class="pi pi-dollar"></div> <!-- Changed Icon -->
        </div>
        <div class="profile-data">
          <span class="employee"> Total Customer</span>
          <span class="employee-name">{{totalCustomerCount}}</span>
        </div>
      </div>
      <div class="cards">
        <div class="profile-four">
          <div class="pi pi-user"></div> <!-- Changed Icon -->
          <div class="pi pi-credit-card"></div> <!-- Changed Icon -->
        </div>
        <div class="profile-data">
          <span class="employee">Total Juristic</span>
          <span class="employee-name">{{totalJuristicCount}}</span>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="tab-card">
    <p-tabView [(activeIndex)]="activeIndex" (activeIndexChange)="onTabChange($event)">
        <p-tabPanel *ngFor="let tab of tabs" [header]="tab.title">
        </p-tabPanel>
      </p-tabView>
      <ng-template #dynamicComponentContainer></ng-template>
      
      
  </div>
  