<div class="login-container">
    <div class="image-section">
      <img src="/images/signup.svg" alt="Login Image">
    </div>
    <div class="form-section">
      <form [formGroup]="loginForm">

        <div class="create-user">
            <div>
                <p-button class="customer-btn" (click)="customer()" label="Customer Registration" />
             </div>
             <div>
                 <p-button class="juristic-btn"   (click)="juristic()" label="Juristic Registration" />
              </div>
        </div>
        <!-- <div>
          <h6>SignUp Now!</h6>
          <label for="username">Name</label>
          <input id="username" formControlName="username"  pInputText type="text" placeholder="(eg)name@company.com" required>
          <div
          *ngIf="
            loginForm.get('username')?.invalid &&
            (loginForm_submitted || loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
          "
          class="error mt-2"
        >
          <small *ngIf="loginForm.get('username')?.errors?.['required']">
            Username is required.
          </small>
        </div>
        
        </div>
        <div >
            <label for="username">Email address</label>
            <input id="email" formControlName="email"  pInputText type="text" placeholder="(eg)name@company.com" required>
            <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm_submitted || loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
            "
            class="error mt-2"
          >
            <small *ngIf="loginForm.get('email')?.errors?.['required']">
              Email is required.
            </small>
          </div>
          </div> -->
        <!-- <div>
          <label for="password" class="password">Password</label>
          <div class="password-input-container">
            <input id="password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" placeholder="Enter Your Password" required>
            <div class="password-toggle">
              <i *ngIf="!hidePassword" class="fa fa-eye" (click)="togglePasswordVisibility()"></i>
              <i *ngIf="hidePassword" class="fa fa-eye-slash" (click)="togglePasswordVisibility()"></i>
            </div>
          </div>
          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="mt-2">
            <small>Password is required</small>
          </div>
        </div> -->
        <!-- <div class="forgot">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div> -->
        <!-- <div>
          <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">Signup Now</button>
        </div> -->
        <div class="goback">
            <p>
              Go Back To <a href="/login">Login Page</a>
            </p>
          </div>
      </form>
    </div>
  </div>