<div class="login-container">
    <div class="image-section">
      <img src="/images/forgot.svg" alt="Login Image">
    </div>
    <div class="form-section">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h6>Reset Password</h6>
        <div>
          <label for="password" class="password">New Password</label>
          <div class="password-input-container">
            <input id="password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" placeholder="Enter Your Password" required>
            <div class="password-toggle">
              <i *ngIf="!hidePassword" class="fa fa-eye" (click)="togglePasswordVisibility('password')"></i>
              <i *ngIf="hidePassword" class="fa fa-eye-slash" (click)="togglePasswordVisibility('password')"></i>
            </div>
          </div>
          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="mt-2">
            <small>Password is required</small>
          </div>
        </div>
        <div>
          <label for="confirmPassword" class="password">Confirm Password</label>
          <div class="password-input-container">
            <input id="confirmPassword" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm Your Password" required>
            <div class="password-toggle">
              <i *ngIf="!hideConfirmPassword" class="fa fa-eye" (click)="togglePasswordVisibility('confirmPassword')"></i>
              <i *ngIf="hideConfirmPassword" class="fa fa-eye-slash" (click)="togglePasswordVisibility('confirmPassword')"></i>
            </div>
          </div>
          <div *ngIf="loginForm.errors?.['mismatch'] && loginForm.controls['confirmPassword'].touched" class="mt-2">
            <small>Passwords do not match</small>
          </div>
        </div>
        <div>
          <button type="submit" [disabled]="loginForm.invalid">Confirm Password</button>
        </div>
      </form>
    </div>
  </div>