<div class="login-container">
    <div class="image-section">
      <img src="/images/forgot.svg" alt="Login Image">
    </div>
    <div class="form-section">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div>
          <h6>Forgot Password?</h6>
          <p>All good. Enter your account's email address and we’ll send you a link to reset your password.</p>
          <label for="email">Email address</label>
          <input id="email" formControlName="email" pInputText type="text" placeholder="(eg)name@company.com" required>
           <div
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            (forgot_submitted || forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)
          "
          class="error mt-2"
        >
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
            Email is required.
          </small>
          <!-- You can add more validation error messages here if needed -->
        </div>
        </div>
        <div>
          <button type="submit" [disabled]="forgotPasswordForm.invalid">Send reset link</button>
        </div><br>
        <div class="goback">
          <p>
            Go Back To <a href="/login">Login Page</a>
          </p>
        </div>
      </form>
    </div>
  </div>