<div>
    <!-- <h5 class="text-left">Dashboard</h5> -->
    </div>
    <div class="main-card">
      <div class="card-wrapper">
        <div class="cards">
          <div class="profile">
            <div class="pi pi-briefcase"></div> <!-- Changed Icon -->
          </div>
          <div class="profile-data">
            <span class="employee"> Total Request</span>
            <span class="employee-name">{{totalCustomerList}}</span>
          </div>
        </div>
        <div class="cards">
          <div class="profile-one">
            <div class="pi pi-building"></div> <!-- Company Icon -->
          </div>
          <div class="profile-data">
            <span class="employee"> Total Juristic Person</span>
            <span class="employee-name">{{juristicDashboard.total || 0}}</span>
          </div>
        </div>
        <div class="cards">
          <div class="profile-two">
            <div class="pi pi-user"></div> <!-- Changed Icon -->
          </div>
          <div class="profile-data">
            <span class="employee"> Total Customer</span>
            <span class="employee-name">{{ customerDashboard.total || 0}}</span>
          </div>
        </div>
        <div class="cards">
          <div class="profile-three">
            <div class="pi pi-dollar"></div> <!-- Changed Icon -->
          </div>
          <div class="profile-data">
            <span class="employee"> Total Loans</span>
            <span class="employee-name">{{loanReqDashboard.total || 0}}</span>
          </div>
        </div>
        <div class="cards">
          <div class="profile-four">
            <div class="pi pi-credit-card"></div> <!-- Changed Icon -->
          </div>
          <div class="profile-data">
            <span class="employee"> Total Credit Cards</span>
            <span class="employee-name">{{creditReqDashboard.total || 0}}</span>
          </div>
        </div>
      </div>
    </div>
    
  
  <div id="dashboard">
      <div class="dashboard-wrapper">
          <div class="layer-one">
              <div class="card">
                  <p>Statistics</p>
                  <p-chart type="doughnut" [data]="donutData" [options]="donutOptions" />
              </div>
              <div class="card">
                  <p>Requests</p>
                  <p-chart type="bar" [data]="stackedData" [options]="stackedOptions" />
              </div>
          </div>
          <div class="layer-two">
              <div class="card">
                  <p>Credit Card</p>
                  <p-chart type="line" [data]="lineData" [options]="lineOptions" />
              </div>
              <div class="card">
                  <p>Loan</p>
                  <p-chart type="bar" [data]="verticalData" [options]="verticalOptions" />
              </div>
          </div>
          <div class="layer-three">
            <div class="card">
              <p>Day Revenue Statistics</p>
              <p-chart type="line" [data]="ComboData" [options]="ComboOptions" />
          </div>
          </div>
      </div>
  </div>
