<div class="login-container">
    <div class="image-section">
      <img src="/images/forgot.svg" alt="Login Image">
    </div>
    <div class="form-section">
        <div>
          <h6>Email on the way!</h6>
          <p>We sent you password reset instructions. If it doesn't show up soon, <br>check your spam folder. We sent it from the email <br>address <span>velantechsolution&#64;gmail.com</span></p>
          <p>
            Go Back To <a href="/login">Login Page</a>
          </p>
        </div>
    </div>
  </div>